body {
	background: #f2f2f2;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

/* --- --- BARRA LATERAL --- --- */
.barra-lateral {
	background: #262a34;
	color: #fff;
	min-width: 300px;
	min-height: 100vh;
	padding: 0;
}

.barra-lateral a {
	color: #fff;
}

/* --- LOGO --- */
.barra-lateral .logo {
	background: #0275db;
	margin-bottom: 2px;
}

.barra-lateral .logo h2 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding: 20px 0;
	text-align: center;
	font-weight: 300;
	margin:0;
}

/* --- MENU --- */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover {
	background: #35ae6b;
	text-decoration: none;
}

.barra-lateral .menu a.active {
	background: #35ae6b;
}

.barra-lateral .menu a i {
	margin-right: 20px;
	font-weight: normal;
}

/* --- --- MAIN --- --- */
.main {
	padding-top: 20px;
}

.main .columna {
	padding-left: 40px;
	padding-right: 40px;
}

.main .titulo {
	color: #262a34;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}

.botones-ocultos{
	display: none;
}

/* --- --- MEDIAQUERIES --- --- */
@media screen and (max-width: 1300px) {
	.barra-lateral {
		min-width: auto;
	}

	.barra-lateral .logo {
		display: none;
	}

	.barra-lateral .menu a span {
		display: none;
	}

	.barra-lateral .menu a i {
		margin:0;
	}
}

@media(max-width: 575px) {
	body{
		font-size: 11px;
	}

	.table button{
		font-size: 11px;
	}
	
	.modal-title{
		font-size: 13px;
	}

	.input-group{
		font-size: 11px !important ;
		height: 30px;
	}
	.barra-lateral {
		min-height: auto;
	}

	.barra-lateral .menu a {
		display: inline-block;
		border-bottom: none;
	}
}

