*{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*--------Inicio Estilos Fondo---------*/
body{
  background: url("../img/fondo/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size:cover;
  -ms-background-size:cover; 
  height: 100vh;

}
.opacidad{
  background: #1F1F1F;
  opacity: .7;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    
}
/*---------Fin Estilos Fondo---------*/
/*--------Inicio Estilos Generales---------*/
@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Bold.ttf'),
        url('../fonts/Roboto-Medium.ttf'),
        url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'awesome';
    src: url('../fonts/fa-solid-900.ttf')
}
body{
    font-family: 'Roboto','awesome';
    color: #D8D8D8;
    text-align: center;
    font-size: 22px;
}
/*---------Fin Estilos Generales---------*/
/*--------Inicio Estilos Index---------*/
.eslogan{
    font-size: 30px;
    font-weight: bold;
    color: #fafafa;
}

.boton{
    margin-top: 70px;
}
.boton button{
    font-weight: bold;
}
.boton button i{
    margin-right: 10px;
}
.link-Registrate, .link-recupera{
    color: #FFDA44;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}
/* .modal-title{
    color: rgba(100%, 96.1%, 93.3%, 100%)!important;
}

.modal-content{
    -webkit-backdrop-filter: blur(10px) saturate(120%) ;
    background: rgba(0, 0, 0, 0.96) !important;    
}
 
.modal-body{
    padding: 4rem !important;
}
.modal-dialog{
    max-width: 600px !important;
} */
/*---------Fin Estilos Index---------*/
/*--------Inicio Estilos Login---------*/
#modal-contraseña{
    font-size: 15px;
}
#volverInicio {
    width: 200px;
    bottom: 30px;
    right: 30px;
    padding: 5px 0;
}
/*---------Fin Estilos Login---------*/
/*--------Inicio Estilos Menu---------*/
.nav{
    background: #1F1F1F;
}

.navbar-toggler{
margin-top: 14px !important;
}

.boton-nav{
    border: 1px solid #ccc !important;
    color: #ccc !important;
}
.menu-desplegable li a:hover{
    color:#fff !important;
    background: #2f2f2f;
}
.alarma h4 {
  display: inline-block;
  width: 40%;
  margin-top: 20px;
}
.actAlarma {
  vertical-align: middle;
  display: inline-block;

}
 /* .custom-switch .custom-switch-input {
    display: none; }
    .custom-switch .custom-switch-input, .custom-switch .custom-switch-input:after, .custom-switch .custom-switch-input:before,
    .custom-switch .custom-switch-input *,
    .custom-switch .custom-switch-input *:after,
    .custom-switch .custom-switch-input *:before,
    .custom-switch .custom-switch-input + .custom-switch-btn {
      box-sizing: border-box; }
      .custom-switch .custom-switch-input:selection, .custom-switch .custom-switch-input:after:selection, .custom-switch .custom-switch-input:before:selection,
      .custom-switch .custom-switch-input *:selection,
      .custom-switch .custom-switch-input *:after:selection,
      .custom-switch .custom-switch-input *:before:selection,
      .custom-switch .custom-switch-input + .custom-switch-btn:selection {
        background: none; }
    .custom-switch .custom-switch-input + .custom-switch-btn {
      outline: 0;
      display: inline-block;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer;
      width: 68px;
      height: 38px;
      margin: 0;
      padding: 4px;
      background: #ced4da;
      border-radius: 76px;
      transition: all 300ms ease; }
      .custom-switch .custom-switch-input + .custom-switch-btn:after, .custom-switch .custom-switch-input + .custom-switch-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 30px;
        height: 30px; }
      .custom-switch .custom-switch-input + .custom-switch-btn:after {
        left: 2px;
        border-radius: 50%;
        background: white;
        transition: all 300ms ease; }
      .custom-switch .custom-switch-input + .custom-switch-btn:before {
        display: none; }
    .custom-switch .custom-switch-input:checked + .custom-switch-btn {
      background: #2196F3; }
      .custom-switch .custom-switch-input:checked + .custom-switch-btn:after {
        left: 30px; }
  
  .custom-switch .custom-switch-form-text {
    display: inline-block;
    height: 38px;
    margin-left: .5rem;
    line-height: 28px;
    vertical-align: top; }
  
  .custom-switch.custom-switch-label-io .custom-switch-input + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='42.5' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EO%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-io .custom-switch-input:checked + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='18.13333' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EI%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-onoff .custom-switch-input + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='38.85714' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOff%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-onoff .custom-switch-input:checked + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='9.71429' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOn%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-yesno .custom-switch-input + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='38.85714' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3ENo%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-yesno .custom-switch-input:checked + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='9.71429' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EYes%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-status .custom-switch-input + .custom-switch-btn {
    width: 88px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='38'%3E%3Ctext x='38.85714' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EDisabled%3C/text%3E%3C/svg%3E"); }
  
  .custom-switch.custom-switch-label-status .custom-switch-input:checked + .custom-switch-btn {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='38'%3E%3Ctext x='9.71429' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EEnabled%3C/text%3E%3C/svg%3E"); }
    .custom-switch.custom-switch-label-status .custom-switch-input:checked + .custom-switch-btn:after {
  left: 50px; } */

.menuHamburgueza, .inDoor, .outDoor, .logo  {
    display: inline-block;
}
.menuHamburgueza button {
    margin-top: 10px;
}
.logo-header {
  width: 30%;
}
.logo-header img {
  width: 100%;
  height: 80px;
  margin-top: 5px;
  margin-left: 30px;
}
.principal{
    padding-top: 120px;
}

.menu-principal{
    border: 1px #fff solid;
    padding: 0 .5em;
}
.menu-principal legend{
    color: #fff;
    width: auto;
}

.botones-menu button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
    height:180px;
    border-radius: 10px;
    background: #0C375A !important;
}

.iconos-menu{
    width: 40%;
}

/*---------Fin Estilos Menu---------*/
 #volverMenu {
    width: 200px;
    margin: 10px 0;    
    padding: 5px 0;
} 

.nombre-usuario{
    vertical-align: center;
    font-size: 20px;
    top: 25px;
    left: 200px;
    color: #ccc;
    font-weight: bold;
    position: absolute;
}

/*--------Inicio Estilos Luces---------*/

.luces fieldset {
  text-align: left;
  margin: 0 auto;
  padding: 0 2em;
  border: 1px #fff solid;
}
.luces legend {
  color: #fff;
  width: auto;

}

.luz {
  width: 40%;
  display: inline-block;
  margin: 10px 30px;
  text-align: center;
}
.switch-luces{
    margin: auto auto;
}
/*---------------------------------------------------------*/

/*------------------------estilos seccion puertas--------------------------------*/
.boton-garage button{
    margin: 30px 0;

}
/*---------------------------------------------------------*/

/*---------------estilos seccion eventos-------------------------------------*/
.botones-evento {
    vertical-align: middle;
    margin:auto auto;
}

/*---------------------------------------------------------*/




/*---------------------------------------------------------*/

/*---------Fin Estilos Luces---------*/
.configuracion-ventilador button{
    width: 150px;
    height:100px;
}
.iconos-menu-temperatura{
    width: 35%;
}
.configuracion-ventilador p{
    font-size: 12px;
}


/*--------------responsive-------------------*/


@media (max-width: 640px){
/*------------responsive del index------*/
    .logo img{
        margin-top: 35px;
    }
    .eslogan{
        font-size: 18px;
        margin-top: 20px;
    }
    .boton{
        margin-top: 40px;
    }
    .boton button{
        font-size: 14px;
    }
    .boton button i{
        margin-right: 5px;
    }
    .link-Registrate, .link-recupera{
        font-size: 13px;
    }
/*----------------------------------------------------------------*/

/*------------estilos del modal para registrarse(index)-----------------*/
    .modal-dialog h5 ,.modal-dialog input{
        font-size: 15px;
    }

    .modal-registrarse .input-group-prepend, .modal-registrarse input{
        height: 28px;
        font-size: 13px;
        
    }
    .modal-registrarse button{
        font-size: 14px;
    }
/*----------------------------------------------------------------------------*/

/*--------------------------responsive del login------------------------------------------*/
    .formulario span{
        font-size: 13px;
    }

    .formulario .input-group-prepend,.formulario input{ 
        font-size: 13px;
        height: 25px;
        margin-top: 10px;
    }

    .formulario button, #volverInicio{
        font-size: 13px;
    }
    #volverInicio{
    width: 120px;
    margin-bottom: 0;
    }
/*----------------------------------------------------------------------------*/

/*---------estilos del modal recuperar contraseña-------------------------------*/
    .modal-recupera-contraseña .input-group-prepend, .modal-recupera-contraseña input, .modal-recupera-contraseña p{
        height: 28px;
        font-size: 13px;
    }

    .modal-recupera-contraseña button{
        font-size: 14px;
    }
/*----------------------------------------------------------------------------*/
/*---------------------responsive del menu superior (nav)---------------------*/
.boton-nav{
    margin-left: 0px !important;
    font-size: 18px;
}
.texto-menu-hamburguesa ul li a{
    font-size: 15px;
}

.alarma h4{
    font-size: 15px;
    right: 10px;
    margin-top: 0;
    position: absolute;

}

.actAlarma{
    position: absolute;
    margin-top: 18px;
    right: 3px;
}    
/*----------------------------------------------------------------------------*/

/*----------------------responsive de botones del menu principal--------------*/
.botones-menu button{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 160px;
    height:100px;
    font-size: 14px;
}
    .iconos-menu{
        width: 30%;
        margin-top:10px;
    }
    .nombre-usuario{
        font-size: 14px;
        top:30px;
        left: 90px;
        font-weight: bold;
        position: absolute;
    }
/*----------------------------------------------------------------------------*/

/*-------------------------responsive de seccion temperatura--------------*/
    .temperatura legend{
        font-size: 15px;
    }
    .temperatura h1{
        font-size: 20px;
    }
    .configuracion-ventilador legend, .configuracion-ventilador label{
        font-size: 14px;
    }
    
    .configuracion-ventilador h6{
        font-size: 14px;
    }
    .configuracion-ventilador .boton-automatico button{
        width: 100px;
        height:70px;
        font-size: 13px;
    }
    .configuracion-ventilador .boton-usuario button{
        width: 100px;
        height:70px;
        font-size: 13px;
    }
    #volverMenu {
        width: 120px;
        bottom: 0px;
        right: 15px;
        font-size: 14px;
    }
/*----------------------------------------------------------------------------*/

/*---------------------responsive seccion de puertas------------------------------------*/
    .boton-desbloqueo button, .boton-garage button{
        width: 120px;
        height:100px;
        font-size: 14px;
    }

    .boton-garage .iconos-menu{
        width: 35%;
    }

/*---------------------------------------------------------*/ 
/*------------------responsive seccion eventos-------------------------------------*/ 
.calendar-month-view p{
    font-size: 15px;
}
.calendar-month-view-arrow{
    font-size: 13px;
}
.letrasDay div{
    font-size: 13px;
}
.calendar-day{
    height: 30px !important;
}
.calendar-grid {
    font-size: 13px;
}
.calendar-holder{
    height: 180px !important;
}
.boton-ver-evento, .boton-crear-evento{
    font-size: 14px; 
}
/*---------------------------------------------------------*/ 

/*-----------------------responsive del modal lista de eventos-------------------------*/ 
.modal-lista-evento th, .modal-lista-evento td{
    font-size: 13px;
}
.modal-lista-evento button{
    font-size: 13px;
}
/*---------------------------------------------------------*/ 

/*---------------------------------------------------------*/ 
.modal-crear-evento th, .modal-crear-evento td{
    font-size: 13px;
}
.modal-crear-evento button{
    font-size: 13px;
}
.modal-crear-evento p{
    font-size: 15px;
}
.modal-crear-evento .dispositivos-select-label{
  font-size: 16px;
}
.tamano-select{
    height: 30px;
}
.inicio-evento{
    border-bottom: 1px solid white;
}
.finaliza-evento{
    border-bottom: 1px solid white;
}
/*------------------------------------------------------*/
/*---------------responsive seccion luces---------------------------------------*/
.luz{
    width: 100%;
    margin: auto;
    display: block;
}
.luz h6{
    font-size: 16px;
    margin: auto 40px;
}
/*------------------------------------------------------*/
/*--------------responsive de mi perfil----------------------------------------*/

.mi-perfil{
    font-size: 16px;
}
.input-miperfil input{
    font-size: 13px;
    height: 30px;
}
.input-miperfil button{
    font-size: 14px;
}
.input-miperfil label{
    text-align: left;
}
.btn-guardar button{
    font-size: 14px;
}
/*------------------------------------------------------*/

/*----------------------responsive seccion nueva cuenta--------------------------------*/
.nueva-cuenta legend{
    font-size: 18px;
}
.nueva-cuenta button{
    font-size: 14px;
}
.nueva-cuenta th, .nueva-cuenta td{
    font-size: 14px;
}
.modal-nueva-cuenta h6{
    font-size: 14px;
}
.modal-nueva-cuenta input{
    height: 30px;
}
}



/* 
@media (min-width:500px){
    .logo img{
        width: 85%;
    }
} */