*{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*--------Inicio Estilos Fondo---------*/
.fondo{
    background: url("../img/fondo/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.opacidad{
    background: #1F1F1F;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
/*---------Fin Estilos Fondo---------*/
/*--------Inicio Estilos Generales---------*/
@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Bold.ttf'),
        url('../fonts/Roboto-Medium.ttf'),
        url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'awesome';
    src: url('../fonts/fa-solid-900.ttf')
}
body{
    font-family: 'Roboto','awesome';
    color: #D8D8D8;
    text-align: center;
    font-size: 22px;
}
/*---------Fin Estilos Generales---------*/
/*--------Inicio Estilos Index---------*/
.eslogan{
    font-size: 30px;
    font-weight: bold;
}

.boton{
    margin-top: 70px;
}
.boton button{
    font-weight: bold;
}
.boton button i{
    margin-right: 10px;
}
.link-Registrate, .link-recupera{
    color: #FFDA44;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}
.modal-title{
    color: rgba(100%, 96.1%, 93.3%, 100%)!important;
}

.modal-content{
    -webkit-backdrop-filter: blur(10px) saturate(120%) ;
    background: rgba(0, 0, 0, 0.5) !important;    
}
 
.modal-body{
    padding: 4rem !important;
}
.modal-dialog{
    max-width: 600px !important;
}
/*---------Fin Estilos Index---------*/
/*--------Inicio Estilos Login---------*/
#modal-contraseña{
    font-size: 15px;
}
#volverInicio {
    position: absolute;
    width: 200px;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    padding: 5px 0;
}
/*---------Fin Estilos Login---------*/
/*--------Inicio Estilos Menu---------*/
nav::before {
    filter: blur(10px);
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    z-index: -1;
}
nav::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
    background: #1F1F1F;
}
.menuHamburgueza, .inDoor, .outDoor, .logo  {
    display: inline-block;
}
.menuHamburgueza button {
    margin-top: 10px;
}
.principal{
    padding-top: 120px;
}

.menu-principal{
    border: 1px #1F1F1F solid;
    padding: 0 2em;
}

.botones-menu button{
    margin:0 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
    height:180px;
    border-radius: 10px;
    background: #0C375A !important;
}

.iconos-menu{
    width: 40%;
}

/*---------Fin Estilos Menu---------*/

/*--------Inicio Estilos Fondo Menu---------*/
/*---------Fin Estilos Fondo Menu---------*/

/*--------Inicio Estilos Fondo Menu---------*/
/*---------Fin Estilos Fondo Menu---------*/
